<div class="container">
    <div class="content">
        <div>
            <div *ngFor="let task of tasks" class="task-wrapper">
                <div class="card">
                    <div class="title">{{task.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
