<div class="container">
    <div class="content">
        <div>
            <div *ngFor="let task of tasks" class="task-wrapper">
                <div [class.done]="task.done" class="card">
                    <div class="title">{{task.title}}</div>
                    <div class="description" *ngIf="task.description">{{ task.description }}</div>
                </div>
                <div class="delete">Delete</div>
            </div>
        </div>
        <div class="form-container">
            <h3>Add a new task:</h3>
                <input placeholder="Title"/>
                <button type="submit">Add</button>
            <p>Preview: </p>
        </div>
    </div>
</div>
