.navbar {
    padding: 20px 20vw;
    background-color: #011627;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-item {
        cursor: pointer;
        transition: font-weight 0.2s;

        &:hover {
            font-weight: bold;
        }
    }
}
