html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}



.container {
    margin: 40px 20vw;

    h1 {
        margin-bottom: 40px;
    }
}

.content {
    display: flex;

    > div {
        flex: 1;
    }

}

.card {
    border-radius: 4px;
    border: 1px solid #A0ACAD;
    width: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    cursor: pointer;

    &:hover {
        background-color: #fafafa;
    }

    &.done {
        background-color: #97D8B2;
    }

    .title {
        font-weight: bold;
    }

    .description {
        opacity: 0.8;
        margin-top: 10px;
        width: 100%;
    }
}

input {
    height: 24px;
    border-radius: 4px;
    border: 1px solid #666;
    padding-left: 6px;
}

button {
    height: 24px;
    cursor: pointer;
    background-color: #011627;
    border: none;
    border-radius: 4px;
    color: white;
    min-width: 70px;
    text-transform: uppercase;
    font-weight: bold;

    &[disabled] {
        opacity: 0.5;
    }
}

.form-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.task-wrapper {
    margin: 0 8px 16px;
    display: flex;
    align-items: center;
    gap: 20px;

    .delete {
        color: #D64045;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
